.password-info {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 26px;
    flex-direction: column;
    border: 1px solid;
    max-width: 700px;
    width: 100%;
    margin: 100px auto;
}
.password-info  .change-psw-label {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.password-info input {
    font-size: 20px;
}

.password-update {
    display: flex;
    flex-direction: column;
}
.password-update input {
    height: 30px;

}
.update-button {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: rgb(234, 157, 14);
    border: none;
    cursor: pointer;
}